{% extends 'employees/templates/base.html' %}
{% block title %}Sign Up - Employee Management{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center" style="min-height: 100vh">
    <div class="col-md-6">
      {% include 'security_management/atoms/alert.html' %}
      <div class="card shadow">
        <div class="card-header">
          <h5 class="card-title mb-0 text-center">Create an Account</h5>
        </div>
        <div class="card-body p-4">
          {% include 'security_management/molecules/signup_form.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}