<form method="post" class="{{ form_class }}">
  {% csrf_token %}
  
  <div class="row">
    <div class="col-md-6">
      {% include 'employees/atoms/input.html' with type='text' id='id_first_name' name='first_name' label='First Name' placeholder='Enter your first name' value=form.first_name.value class='form-control' %}
    </div>
    <div class="col-md-6">
      {% include 'employees/atoms/input.html' with type='text' id='id_last_name' name='last_name' label='Last Name' placeholder='Enter your last name' value=form.last_name.value class='form-control' %}
    </div>
  </div>

  {% include 'employees/atoms/input.html' with type='text' id='id_username' name='username' label='Username' placeholder='Choose a username' value=form.username.value required=true class='form-control' %}
  
  {% include 'employees/atoms/input.html' with type='email' id='id_email' name='email' label='Email' placeholder='Enter your email address' value=form.email.value class='form-control' %}
  
  {% include 'employees/atoms/input.html' with type='tel' id='id_phone' name='phone' label='Phone' placeholder='Enter your phone number' value=form.phone.value class='form-control' %}
  
  <div class="row">
    <div class="col-md-6">
      {% include 'employees/atoms/input.html' with type='password' id='id_password1' name='password1' label='Password' placeholder='Create a password' required=true class='form-control' %}
    </div>
    <div class="col-md-6">
      {% include 'employees/atoms/input.html' with type='password' id='id_password2' name='password2' label='Confirm Password' placeholder='Confirm your password' required=true class='form-control' %}
    </div>
  </div>
  
  {% if form.errors %}
  <div class="alert alert-danger mb-3">
    {% for field, errors in form.errors.items %}
      {% for error in errors %}
        <div>{{ error }}</div>
      {% endfor %}
    {% endfor %}
  </div>
  {% endif %}
  
  {% include 'employees/atoms/button.html' with type='submit' variant='primary' class='w-100' text='Sign Up' %}
  
  <div class="text-center mt-3">
    <small>Already have an account? <a href="{% url 'security_management:login' %}">Login</a></small>
  </div>
</form>